<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img alt="{{ site.title }}" src="{{ site.brand_logo }}">
        </a>
        <p class="navbar-text">
          {{ site.title }}
        </p>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% for page in site.pages %}
          {% if page.title and page.category != 'author' %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_pagename }}">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
