// Dead Rooster's Color Palette
$mybrown: #833;
$myyellow: #FE6;

$navbar-default-bg: $mybrown;
$navbar-default-brand-color: $myyellow;
$navbar-default-color: $myyellow;
$navbar-height: 54px;
$navbar-default-link-color: $myyellow;
