//@navbar-default-bg: red;
@navbar-margin-bottom: 0;

body {
  background: url('/assets/images/retina_wood.png');
}

.container {
  background-color: white;
}

footer {
  color: #999;
  margin-top: 3em;
  border-top: thin solid #999;
}