//@navbar-margin-bottom: 0; <-- Uncomment to remove the little appearing background between navbar and content 

@headings-font-family: "ff-dax-compact-web-pro", sans-serif;

// Dead Rooster's Color Palette
@mybrown: #873D35;
@myyellow: #F1E568;

@navbar-default-bg: @mybrown;
@navbar-default-brand-color: @myyellow;
@navbar-default-color: @myyellow;
@navbar-height: 54px;
@navbar-default-link-color: @myyellow;

body {
  background-color: #F2F2F2;
  font-size: 1.6em;    // Butterick's reco: 15-25 pixels, here we aim 18 pixels.
  line-height: 1.4em;  // 120-145%, here we aim 140%.
  font-family: "freight-text-pro", serif;
  color: #444;
}

li {
  font-size: inherit;
}

h2, h3, h4, h5 {
  margin-top: 1em;
}

h3 {
  color: #777;
  font-weight: 300;
}

blockquote {
  font-style: italic;
  font-size: 1em;
}

img {
  margin: auto;
  max-width: 100%;
}

.lead {
  font-size: 1.17em; // Bootstrap sets only 16px for mobile so we want this to be more responsive
}

.post-content { 
  margin: auto; // Center the text...
  max-width: 32em; // ... and limit to a reasonable width of 45-90 characters
  
  .post-list {
    list-style-type: none; // No bullet on the home page
    padding: 0;
    li {
      padding: 1em 0;
    }
  }
}

#disqus-comments {
  display: none;
}

//.post {
//  I don't think the padding is necessary anymore
//  padding: 0 1em;
//}

footer {
  h2 {
    font-size: 1.2em;
  }
  padding: 1em;
  background-color: @mybrown;
  color: @myyellow;
  margin-top: 3em;
  border: none;
  font-family: @headings-font-family;
  font-size: 0.6em;
  line-height: 1.4em;
  
  img {
    max-width: 4em;
  }
  
  ul {
    list-style-type: none; // No bullet
    padding: 0;
    
    li {
      display: inline;
      margin-right: 1em;
    }
  }
  
  a {
    color: inherit;
  }
  
  a:hover {
    color: white;
  }
}

.dr-playlist {
  padding: 1em 0; // Leave space around the playlist button...
}

.dr-playlist button {
  margin-right: 1em;
}

.navbar {
  font-family: @headings-font-family;
  
  .navbar-brand {
    img {
      max-height: 50px;
    }
    padding-top: 5px; // Leave space for the brand icon to fit without overflow
    padding-bottom: 5px; // Leave space for the brand icon to fit without overflow
  }
}

.microdata {
  display: none;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
  body {
    font-size: 1.8em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
  body {
    font-size: 2.0em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  body {
    font-size: 2.2em;
  }
}
