//@navbar-margin-bottom: 0; <-- Uncomment to remove the little appearing background between navbar and content 

@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);

@headings-font-family: 'Source Sans Pro', sans-serif;

// Dead Rooster's Color Palette
@mybrown: #873D35;
@myyellow: #F1E568;

@navbar-default-bg: @mybrown;
@navbar-default-brand-color: @myyellow;
@navbar-default-color: @myyellow;
@navbar-height: 54px;
@navbar-default-link-color: @myyellow;

body {
  background-color: #F2F2F2;
  font-size: 1.8em;    // Butterick's reco: 15-25 pixels, here we aim 18 pixels.
  line-height: 1.4em;  // 120-145%, here we aim 140%.
  font-family: 'Alegreya', serif;
  color: #444;
}

h3 {
  color: #777;
  font-weight: 300;
}

blockquote {
  font-style: italic;
}

img {
  max-width: 100%;
}

.lead {
  font-size: 1.17em; // Bootstrap sets only 16px for mobile so we want this to be more responsive
}

.post-content { 
  margin: auto; // Center the text...
  max-width: 32em; // ... and limit to a reasonable width of 45-90 characters
}

.post {
  padding: 1em;
}

footer {
  color: #999;
  margin-top: 3em;
  border-top: thin solid #999;
}

.dr-playlist {
  padding: 1em 0; // Leave space around the playlist button...
}

.dr-playlist button {
  margin-right: 1em;
}

.navbar {
  font-family: @headings-font-family;
  
  .navbar-brand {
    img {
      max-height: 50px;
    }
    padding-top: 5px; // Leave space for the brand icon to fit without overflow
    padding-bottom: 5px; // Leave space for the brand icon to fit without overflow
  }
}
