---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <address class="post-meta">
      <time pubdate datetime="{{ page.date }}">
      <!-- Whitespace added for readability -->
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}janvier
        {% when '2' %}février
        {% when '3' %}mars
        {% when '4' %}avril
        {% when '5' %}mai
        {% when '6' %}juin
        {% when '7' %}juillet
        {% when '8' %}août
        {% when '9' %}septembre
        {% when '10' %}octobre
        {% when '11' %}novembre
        {% when '12' %}décembre
      {% endcase %}
      {{ page.date | date: "%Y" }}
      </time>
      {% if page.authors %}
      — par
      {% for author in page.authors %}
      <a rel="author" href="/{{ author | replace: ' ', '_' | downcase | prepend: site.baseurl }}/">{{ author }}</a>
      {% endfor %} 
      {% endif %}

      {% if page.meta %} • {{ page.meta }}{% endif %}
      
    </p>
  </header>

  <article class="post-content">
    {{ content }}

    {% if page.uuid %}
    <button id="disqus-on" class="btn btn-primary btn-lg">Voir les commentaires</button>
    
    <section id="disqus-comments" class="comments">
      <div id="disqus_thread"></div>
    </section>
    {% endif %}
  </article>
  
</div>
